@import url("../../index.css");

.daysAhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nextDay {
  /* border: 1px solid gold; */
  background-color: var(--light-color-content);
  box-shadow: var(--dark-color-secondary-shadow) 0px 0px 5px 0px;
  margin: 1rem 0.25rem 1rem 0.25rem;
  width: 100%;
  border-radius: 5px;
  padding: 0.25rem;
  font-family: "Roboto Condensed", sans-serif;
}

.nextDay > h3 {
  font-size: 24px;
  font-family: "Viga", sans-serif;
}

.nextDay > img {
  height: auto;
  width: 5rem;
}

.nextDay:nth-child(1) {
  margin-left: 0rem;
}
.nextDay:nth-last-child(1) {
  margin-right: 0rem;
}

@media (max-width: 426px) {
  /* Stack Grid Items */
  .daysAhead {
    display: flex;
    flex-direction: column;
  }
}
