@import url("../../index.css");

.runStatus {
  /* border: 1px solid green; */
  background-color: var(--light-color-content);
  box-shadow: var(--dark-color-secondary-shadow) 0px 0px 5px 0px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.runCheck {
  background-color: var(--primary-color);
  box-shadow: var(--dark-color-secondary-shadow) 0px 0px 5px 0px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.run7Days {
  background-color: var(--primary-color);
  box-shadow: var(--dark-color-secondary-shadow) 0px 0px 5px 0px;
  margin-bottom: 1rem;
  border-radius: 5px;
}
