:root {
  --primary-color: #30bf0c;
  --secondary-color: #e6e6e6;
  --light-color-content: #fdfdfd;
  --light-text: #ffffff;
  --dark-color-primary: #2e2e2e;
  --dark-color-secondary: #434343;
  --dark-color-secondary-shadow: #4343437e;
  --dark-text: #050505;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
