footer {
  background-color: var(--primary-color);
  color: var(--light-text);
  padding: 2rem;
  font-size: x-small;
  margin-top: 5rem;
  width: 100vw;
}

@media (max-width: 768px) {
  footer {
    width: 100vw;
  }
}
