@import url("../../index.css");

.currentWeather {
  /* border: 1px solid goldenrod; */
  box-shadow: var(--dark-color-secondary-shadow) 0px 0px 5px 0px;
  /* margin: 0.25rem; */
  margin-bottom: 0rem;
  background-color: var(--primary-color);
  color: var(--light-text);
  border-radius: 5px;
}

.currentLocation {
  /* border: 1px solid gold; */
  padding: 0.25rem;
}

.currentLocation > h1 {
  text-transform: uppercase;
  color: var(--light-text);
  font-size: 40px;
}

.conditions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.condition {
  /* border: 1px solid gold; */
  margin: 0.25rem;
  flex-grow: 1;
  text-transform: capitalize;
  font-family: "Roboto Condensed", sans-serif;
}

/* .condition#icon {
  border: 1px solid yellow;
} */

li {
  list-style-type: none;
}

@media (max-width: 426px) {
  /* Stack Grid Items */
  .conditions {
    display: flex;
    flex-direction: column;
  }
}
