.nextDay {
  /* border: 1px solid gold; */
  background-color: var(--light-color-content);
  box-shadow: var(--dark-color-secondary-shadow) 0px 0px 5px 0px;
  margin: 0.25rem;
  width: 100%;
  border-radius: 5px;
  padding: 2rem;
  font-family: "Roboto Condensed", sans-serif;
}

.nextDay > div > h3 {
  font-size: 36px;
  font-family: "Viga", sans-serif;
}
.nextDay > div > p {
  font-size: large;
}

.nextDay > div > img {
  height: auto;
  width: 6rem;
}

.nextDay > div:nth-child(1) {
  margin-left: 0rem;
}
.nextDay > div:nth-last-child(1) {
  margin-right: 0rem;
}

.day,
h3 {
  text-transform: uppercase;
}

@media (max-width: 426px) {
  /* Stack Grid Items Correctly */
  .nextDay {
    margin: 0.25rem 0rem 0.25rem 0rem;
  }
}
