@import url("../../index.css");

input {
  width: 35vw;
  height: 5vh;
}

.searchbar {
  justify-content: center;
  position: sticky;
  display: flex;
}

.searchTerm {
  width: 35vw;
  height: 5vh;
  border: 3px solid var(--secondary-color);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus {
  color: var(--primary-color);
}

.searchButton {
  width: 40px;
  height: 5vh;
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.fa-search {
  color: var(--primary-color);
}

@media (max-width: 426px) {
  /* Stack Grid Items */

  .searchTerm {
    width: 65vw;
  }
}

.logo {
  height: 75px;
  width: 75px;
}

.logospace,
h1 {
  color: var(--secondary-color);
}

.logospace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  /* height: 15vh; */
  width: 100vw;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  box-shadow: var(--dark-color-secondary-shadow) 1px 1px 2px 1px;
}

nav.container {
  display: flex;
  height: 15vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1rem;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.geo {
  margin-left: 0.5rem;
  border: 1px solid var(--secondary-color);
  font-size: 20px;
  border-radius: 5px;
  padding: 0.25rem;
  color: var(--primary-color);
  text-decoration: none;
}

.geo:focus {
  text-decoration: none;
}

.searched-cities {
  margin-top: 0.5rem;
  justify-content: center;
  border: 1px solid var(--secondary-color);
}

.fa-github-square {
  color: var(--secondary-color);
  font-size: 50px;
}

@media (max-width: 426px) {
  /* Stack Grid Items */

  .logo {
    height: 50px;
    width: 50px;
  }

  .logospace {
    flex-direction: column;
    /* font-family: "Viga", sans-serif; */
  }

  .logospace > h1 {
    color: var(--secondary-color);
    font-size: x-small;
  }

  .fa-github-square {
    display: none;
  }

  nav.container {
    grid-template-columns: 1fr 5fr;
  }
  .geo {
    width: 2rem;
    padding: 0.25rem;
    margin-left: 0.2rem;
  }
}

@media (max-height: 547px) {
  nav.container {
    height: 80px;
  }
}

@media (max-width: 375px) {
  .search {
    display: flex;
    flex-direction: column;
  }

  .geo {
    align-self: center;
    width: 2rem;
    border-radius: 5px;
    padding: 0.25rem;
    margin-top: 0.1rem;
    margin-left: 0;
    color: var(--primary-color);
  }
}
