:root {
  --primary-color: #30bf0c;
  --secondary-color: #e6e6e6;
  --light-color-content: #fdfdfd;
  --light-text: #ffffff;
  --dark-color-primary: #2e2e2e;
  --dark-color-secondary: #434343;
  --dark-color-secondary-shadow: #4343437e;
  --dark-text: #050505;
  --max-width: 1100px;
  --worst: #7e0600;
  --poor: #dc4d00;
  --fair: #ffd000;
  --perfect: #007bb1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: var(--secondary-color); */
  background: linear-gradient(
    180deg,
    var(--secondary-color) 25%,
    rgba(255, 255, 255, 1) 100%
  );
  line-height: 1.5;
  font-family: "Viga", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
