@import url("../../index.css");

main {
  /* background-color: white; */
  margin: 2vmin 10vmin 8vmin 10vmin;
  padding: 2%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 0.25rem;
}

.WeatherDash {
  /* border: 1px solid red; */
  padding: 0.25rem;
}

.RunDash {
  /* border: 1px solid red; */
  padding: 0.25rem;
}

@media (max-width: 426px) {
  /* Stack Grid Items */
  Main {
    display: flex;
    flex-direction: column-reverse;
  }
}
